@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.product-container {
    display: flex;
    background-color: white;
    border: 2px solid #512da8;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.product-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-images img {
    max-width: 100%;
    max-height: 300px; /* Aumenta a altura máxima para as imagens */
    border-radius: 10px;
    object-fit: contain; /* Garante que a imagem não seja cortada */
}

.product-details {
    flex: 2;
    padding-left: 20px;
}

.product-details h1 {
    color: #512da8;
}

.product-details p {
    margin: 10px 0;
}

.product-price {
    font-size: 1.5em;
    color: green;
    margin-top: 20px;
}

.product-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.product-info {
    font-size: 0.9em;
    margin-top: 50px; /* Aumenta o espaçamento antes da seção Informações Gerais */
}

.product-info h2 {
    margin-top: 20px;
    color: #512da8;
}

.product-info h3 {
    margin-top: 10px;
    color: #512da8;
}

.product-info ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.buy-button, .cart-button {
    background-color: #512da8;
    color: white;
    font-size: 0.9em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover, .cart-button:hover {
    background-color: #5c6bc0;
}

.product-review {
    margin-top: 30px;
    max-width: 80%; /* Ajusta a largura da seção de avaliação */
}

.product-review h2 {
    color: #512da8;
}

.rating {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.star {
    font-size: 1.5em; /* Diminui o tamanho das estrelas */
    cursor: pointer;
    color: #ccc;
}

.star.filled {
    color: #ff0;
}

.comment-box {
    width: 100%;
    height: 80px; /* Diminui a altura da caixa de comentário */
    padding: 8px; /* Diminui o padding da caixa de comentário */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #512da8;
    color: white;
    font-size: 0.8em; /* Diminui o tamanho da fonte do botão */
    padding: 8px 16px; /* Diminui o tamanho do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #5c6bc0;
}